.download-container {
  background-color: white;
  position: fixed;
  width: 100vw;
  bottom: 0;
  text-align: center;
  border-top: 1px solid #DDD;
}

.download-csv, .download-json {
  margin: 1em;
  color: white;
  border: none;

  padding: 12px 32px;
  font-size: 1em;

  text-align: center;
  text-decoration: none;

  outline: none;
  cursor: pointer;
}

.download-json {
  background-color: #33E;
}

.download-csv {
  background-color: #33E;
  opacity: 0.75;
}
