.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 4em;
  height: 4em;
  padding-left: 1em;
  padding-right: 1em;

  background-color: #333;
  color: #FFF;

  font-size: 1em;
  font-family: 'Roboto Mono', monospace;
}

.navLink{
  color: #FFF;
}
 .navLink:hover{
   border: 0;
 }