.table {
  padding: 2em;
  width: 100%;
  margin-bottom: 5em;
}

.table th, .table td {
  border-bottom: 1px solid #DDD;
  text-align: left;
  width: 15em;
  height: 2em;
}

a {
  color: #33E;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #33E;
}
