@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

.App {
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;

  height: 100vh;
}

.App-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 4em;
  padding-left: 1em;
  padding-right: 1em;

  background-color: #333;
  color: #FFF;

  font-size: 1em;
  font-family: 'Roboto Mono', monospace;
}

.logo {
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
  flex-direction: column;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 7.5vh;
  height: 100%;

  box-sizing: border-box;
  border: 2px solid #000000;
  border-left: none;

  outline: none;
  cursor: pointer;

  transition: background-color 100ms ease;
}

.search-icon:hover {
  background-color: rgba(51, 51, 238, 0.1);
}

.search-bar {
  width: 50vw;
  height: 7.5vh;

  padding-left: 1em;
  padding-right: 1em;

  font-size: 18px;

  outline: none;
  border: 2px solid #000000;
  box-sizing: border-box;
}

.instructions {
  padding: 2em;
}

.instructions p {
  text-align: center;
  margin: 1em;
}

.download {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: #33E;
  color: white;
  border: none;

  padding: 15px 32px;
  font-size: 1em;

  text-align: center;
  text-decoration: none;

  outline: none;
  cursor: pointer;
}

.loading {
  margin: 20px;

  width: 24px;
  height: 24px;

  border-radius: 100%;
  background-color: #33E;

  opacity: 0.75;
  animation: pulse 2s infinite;
}

.result {
  display: flex;
  flex-direction: column;
}

.table {
  padding: 2em;
}

.table th, .table td {
  border-bottom: 1px solid #ddd;
  text-align: left;
  width: 15em;
  height: 2em;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0px  rgba(51, 51, 238, 0.6) }
   70% { box-shadow: 0 0 0 15px rgba(51, 51, 238, 0.0) }
  100% { box-shadow: 0 0 0 0px  rgba(51, 51, 238, 0.0) }
}
